In [1]:
import csv
import xml.etree.ElementTree as et
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [2]:
matches = ['f24-4-2013-731767-eventdetails.xml','f24-4-2013-731769-eventdetails.xml','f24-4-2013-731773-eventdetails.xml',
'f24-4-2013-731774-eventdetails.xml','f24-4-2013-731777-eventdetails.xml','f24-4-2013-731779-eventdetails.xml',
'f24-4-2013-731781-eventdetails.xml','f24-4-2013-731783-eventdetails.xml','f24-4-2013-731785-eventdetails.xml',
'f24-4-2013-731786-eventdetails.xml','f24-4-2013-731789-eventdetails.xml','f24-4-2013-731790-eventdetails.xml',
'f24-4-2013-731793-eventdetails.xml','f24-4-2013-731795-eventdetails.xml','f24-4-2013-731798-eventdetails.xml',
'f24-4-2013-731799-eventdetails.xml','f24-4-2013-731801-eventdetails.xml','f24-4-2013-731802-eventdetails.xml',
'f24-4-2013-731806-eventdetails.xml','f24-4-2013-731809-eventdetails.xml','f24-4-2013-731811-eventdetails.xml',
'f24-4-2013-731814-eventdetails.xml','f24-4-2013-731815-eventdetails.xml','f24-4-2013-731817-eventdetails.xml',
'f24-4-2013-731818-eventdetails.xml','f24-4-2013-731820-eventdetails.xml','f24-4-2013-731821-eventdetails.xml',
'f24-4-2013-731822-eventdetails.xml','f24-4-2013-731823-eventdetails.xml','f24-4-2013-731824-eventdetails.xml',
'f24-4-2013-731825-eventdetails.xml','f24-4-2013-731826-eventdetails.xml','f24-4-2013-731827-eventdetails.xml',
'f24-4-2013-731828-eventdetails.xml','f24-4-2013-731829-eventdetails.xml','f24-4-2013-731830-eventdetails.xml']

In [3]:
x_start = []
y_start = []
type_def = []
minute = []
half = []
team = []
game_num = []

In [4]:
for x in matches:
    tree = et.ElementTree(file = x)
    gameFile = tree.getroot()
    team_dict = {gameFile[0].attrib["home_team_id"]: gameFile[0].attrib["home_team_name"],
                 gameFile[0].attrib["away_team_id"]: gameFile[0].attrib["away_team_name"]}

    for game in gameFile:
    
        for event in game:
        
            if event.attrib.get("type_id") == '7':
            
                x_start.append(event.attrib.get("x"))
                y_start.append(event.attrib.get("y"))
                type_def.append('Tackle')
                minute.append(event.attrib.get("min"))
                half.append(event.attrib.get("period_id"))
                team.append(team_dict[event.attrib.get("team_id")])
                game_num.append(x)

In [5]:
for x in matches:
    
    tree = et.ElementTree(file = x)
    gameFile = tree.getroot()
    team_dict = {gameFile[0].attrib["home_team_id"]: gameFile[0].attrib["home_team_name"],
                 gameFile[0].attrib["away_team_id"]: gameFile[0].attrib["away_team_name"]}

    for game in gameFile:

        for event in game:       

            if event.attrib.get("type_id") == '8':
            
                x_start.append(event.attrib.get("x"))
                y_start.append(event.attrib.get("y"))
                type_def.append('Interception')
                minute.append(event.attrib.get("min"))
                half.append(event.attrib.get("period_id"))
                team.append(team_dict[event.attrib.get("team_id")])
                game_num.append(x)

In [6]:
column_titles = ["team", "half", "min", "x_start", "y_start", "type_def", "game_num"]
final_table = pd.DataFrame(data=[team, half, minute, x_start, y_start, type_def, game_num],
                           index=column_titles)
final_table = final_table.T
final_table

,team,half,min,x_start,y_start,type_def,game_num
0,Croatia,1,7,36.0,69.6,Tackle,f24-4-2013-731767-eventdetails.xml
1,Croatia,1,7,44.3,79.5,Tackle,f24-4-2013-731767-eventdetails.xml
2,Brazil,1,9,56.1,18.5,Tackle,f24-4-2013-731767-eventdetails.xml
3,Croatia,1,9,37.8,92.5,Tackle,f24-4-2013-731767-eventdetails.xml
4,Croatia,1,13,66.8,57.0,Tackle,f24-4-2013-731767-eventdetails.xml
...,...,...,...,...,...,...,...
2414,Germany,3,99,38.9,3.1,Interception,f24-4-2013-731830-eventdetails.xml
2415,Argentina,3,100,31.7,36.3,Interception,f24-4-2013-731830-eventdetails.xml
2416,Argentina,3,103,21.4,61.7,Interception,f24-4-2013-731830-eventdetails.xml
2417,Argentina,3,104,40.0,72.4,Interception,f24-4-2013-731830-eventdetails.xml
2418,Germany,4,110,37.2,64.0,Interception,f24-4-2013-731830-eventdetails.xml

In [7]:
final_table.isnull().sum()

team        0
half        0
min         0
x_start     0
y_start     0
type_def    0
game_num    0
dtype: int64

In [8]:
final_table.describe()

,team,half,min,x_start,y_start,type_def,game_num
count,2419,2419,2419,2419,2419,2419,2419
unique,28,4,122,691,822,2,36
top,Argentina,2,45,29.6,94.4,Tackle,f24-4-2013-731815-eventdetails.xml
freq,262,1143,44,14,14,1426,101

In [9]:
final_table['team'].value_counts()

Argentina                 262
Brazil                    254
Netherlands               243
Germany                   204
Costa Rica                170
Algeria                   163
Spain                     125
Belgium                   106
Chile                      99
Uruguay                    79
England                    75
USA                        74
Italy                      65
Australia                  49
Mexico                     48
Switzerland                42
Cameroon                   38
Ghana                      36
Nigeria                    34
Croatia                    33
Russia                     32
Colombia                   31
Bosnia and Herzegovina     29
France                     28
South Korea                28
Iran                       28
Portugal                   23
Greece                     21
Name: team, dtype: int64

In [10]:
final_table.to_csv('def_actions.csv')